@font-face {
	font-family: 'Inconsolata';
	src: url('./../fonts/Inconsolata_Condensed-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inconsolata';
	src: url('./../fonts/Inconsolata_Condensed-Bold.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
